body {
  background-color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  width: 1000px;
  height: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button {
  width: 140px;
  height: 45px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-size: 23px;
  color: black;
}

a {
  text-decoration: none;
}

.cards {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 0px;
}

.card {
  width: 370px;
  height: 650px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.projectName {
  width: 340px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.projectDesc {
  width: 310px;
  height: 400px;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

ul {
  width: 230px;
  margin-right: 20px;
}

li {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 13px;
}

.weblogo {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 70px;
  height: 70px;
}

.button:hover {
  transition: 0.3s;
  background-color: #27baef6b;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .main {
    height: 288vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navbar {
    width: 80vw;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 0px;
  }

  .button {
    width: 80px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonText {
    font-size: 18px;
    color: black;
  }

  a {
    text-decoration: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-bottom: 0px;
  }

  .card {
    width: 370px;
    height: 650px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .icon {
    width: 120px;
    height: 120px;
    background-color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon > img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }

  .projectName {
    width: 340px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .projectDesc {
    width: 310px;
    height: 400px;
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }

  ul {
    width: 230px;
    margin-right: 20px;
  }

  li {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 13px;
  }

  .weblogo {
    display: none;
  }

  .button:hover {
    transition: 0.3s;
    background-color: #27baef6b;
  }
}
